In [2]:
import pandas as pd
import boto3
import sagemaker

sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name

# Download the datasets

In [3]:
!aws s3 cp 's3://ads508-team4-master/result_demo.csv' ./data/

download: s3://ads508-team4-master/result_demo.csv to data/result_demo.csv

In [4]:
!aws s3 cp 's3://ads508-team4-master/result_psych.csv' ./data/

download: s3://ads508-team4-master/result_psych.csv to data/result_psych.csv

In [9]:
import csv

df_demo = pd.read_csv(
    "./data/result_demo.csv",
    delimiter=",",
    quoting=csv.QUOTE_NONE,
)
df_demo = df_demo.iloc[:,1:]
df_demo.head(100)

,user_id,platform_x,level_1,level_2,level_3,confidence_score,country_code,platform_y,asset_id,minutes_viewed,showtype,genre,running_minutes,source_language,season_id,series_id,studio_id
0,1.71799e+10,android,Demographics,Income,Medium,1,PH,android,14707,55,Movies,Action and Adventure,103,Tagalog,NaN,NaN,448
1,3.43597e+10,android,Demographics,Income,Medium,1,PH,android,14707,92,Movies,Action and Adventure,103,Tagalog,NaN,NaN,448
2,1.71799e+10,android,Demographics,Income,Low,1,PH,android,14707,76,Movies,Action and Adventure,103,Tagalog,NaN,NaN,448
3,1.71799e+10,android,Demographics,Age,25 - 34,1,PH,android,14707,76,Movies,Action and Adventure,103,Tagalog,NaN,NaN,448
4,1.71799e+10,android,Demographics,Gender,Male,0.993641,PH,android,14707,76,Movies,Action and Adventure,103,Tagalog,NaN,NaN,448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2.57698e+10,android,Demographics,Income,Medium,1,PH,android,14734,80,Movies,Drama,116,Tagalog,NaN,NaN,448
96,8.58993e+10,android,Demographics,Income,Low,1,PH,android,14734,112,Movies,Drama,116,Tagalog,NaN,NaN,448
97,7.73094e+10,web,Demographics,Gender,Male,0.93838,PH,web,14734,92,Movies,Drama,116,Tagalog,NaN,NaN,448
98,7.73094e+10,web,Demographics,Age,18 - 24,1,PH,web,14734,92,Movies,Drama,116,Tagalog,NaN,NaN,448
99,8.58993e+10,iOS,Demographics,Income,Medium,1,PH,iOS,14734,6,Movies,Drama,116,Tagalog,NaN,NaN,448

In [10]:
df_psych = pd.read_csv(
    "./data/result_psych.csv",
    delimiter=",",
    quoting=csv.QUOTE_NONE,
)
df_psych = df_psych.iloc[:,1:]
df_psych.head(100)

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (1,6,9,10,13,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,user_id,platform_x,level_1,level_2,level_3,confidence_score,country_code,platform_y,asset_id,minutes_viewed,showtype,genre,running_minutes,source_language,season_id,series_id,studio_id
0,1.71799e+10,android,Demographics,Income,Medium,1,PH,android,14707,55,Movies,Action and Adventure,103,Tagalog,NaN,NaN,448
1,3.43597e+10,android,Demographics,Income,Medium,1,PH,android,14707,92,Movies,Action and Adventure,103,Tagalog,NaN,NaN,448
2,1.71799e+10,android,Demographics,Income,Low,1,PH,android,14707,76,Movies,Action and Adventure,103,Tagalog,NaN,NaN,448
3,1.71799e+10,android,Demographics,Age,25 - 34,1,PH,android,14707,76,Movies,Action and Adventure,103,Tagalog,NaN,NaN,448
4,1.71799e+10,android,Demographics,Gender,Male,0.993641,PH,android,14707,76,Movies,Action and Adventure,103,Tagalog,NaN,NaN,448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2.57698e+10,android,Demographics,Income,Medium,1,PH,android,14734,80,Movies,Drama,116,Tagalog,NaN,NaN,448
96,8.58993e+10,android,Demographics,Income,Low,1,PH,android,14734,112,Movies,Drama,116,Tagalog,NaN,NaN,448
97,7.73094e+10,web,Demographics,Gender,Male,0.93838,PH,web,14734,92,Movies,Drama,116,Tagalog,NaN,NaN,448
98,7.73094e+10,web,Demographics,Age,18 - 24,1,PH,web,14734,92,Movies,Drama,116,Tagalog,NaN,NaN,448
99,8.58993e+10,iOS,Demographics,Income,Medium,1,PH,iOS,14734,6,Movies,Drama,116,Tagalog,NaN,NaN,448